* {
 box-sizing:border-box
}

.btn, a {
 text-decoration:none
}

.btn {
 display:inline-block;
 vertical-align:middle;
 height:40px;
 line-height:40px;
 padding:0 20px;
 border-radius:5px;
 color:inherit;
 border:1px solid #b1b1b1;
 outline:0;
 cursor:pointer;
 font-size:12px;
 font-family:inherit;
 transition:background .25s;
 background:#fff
}

.btn.primary {
 background:#4caf50;
 color:#fff;
 border-color:#4caf50
}

.btn:hover {
 background:#f2f2f2
}

.btn:hover.primary {
 background:#449d48
}

.container {
 max-width:1280px;
 margin:0 auto;
 width:95%
}

.row {
 margin:auto
}

.row.flex {
 display:flex;
 flex-wrap:wrap
}

.row:after {
 content:"";
 display:table;
 clear:both
}

.row .col {
 float:left
}

.row .col.s12 {
 width:100%
}

@media only screen and (min-width:601px) {
 .container {
  width:85%
 }

 .row .col.m8 {
  width:66.66666667%
 }

 .row .col.m11 {
  width:91.66666667%
 }

}

@media only screen and (min-width:993px) {
 .container {
  width:80%
 }

 .row .col.l4 {
  width:33.33333333%
 }

 .row .col.l8 {
  width:66.66666667%
 }

 .row .col.l10 {
  width:83.33333333%
 }

 h1 {
  font-size:4em
 }

 h2 {
  font-size:3em
 }

 h3 {
  font-size:2.8em
 }

 h4 {
  font-size:2.2em
 }

 h5 {
  font-size:1.9em
 }

}

.about-text {
 margin-bottom:15px
}

.about-text .link {
 font-style:oblique
}

.about-text .link:hover {
 color:#fff
}

.storetable {
 width:100%
}

@media (max-width:550px) {
 .big-container {
  display:none
 }

}

@media (min-width:550px) {
 .small-container {
  display:none
 }

}

.responsive-iframe-container {
 position:relative;
 padding-bottom:56.25%;
 padding-top:30px;
 height:0;
 overflow:hidden
}

.responsive-iframe-container iframe {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%
}

.wall {
 display:flex;
 align-items:center;
 flex-wrap:nowrap;
 text-align:center;
 position:relative;
 height:100vh
}

.wall .intro .caption {
 font-size:18px;
 margin:15px 0
}

.wall svg {
 display:block;
 margin:0 auto
}

.wall .social-buttons {
 position:absolute;
 left:25px
}

.wall .social-buttons ul {
 list-style:none
}

.wall .social-buttons ul li {
 margin:5px 0
}

.wall .social-buttons ul li img {
 opacity:.7;
 width:48px;
 transition:opacity .25s
}

.wall .social-buttons ul li:hover img {
 opacity:1
}

@media only screen and (max-width:800px) {
 .wall .main-title svg {
  height:100px
 }

 .wall .social-buttons {
  display:none
 }

 .wall svg text {
  font:700 14px sans-serif;
  font-family:Work Sans,sans-serif
 }

}

.main-content {
 text-align:left
}

.warning {
 padding:15px;
 border:none;
 color:#fff;
 background:#f55555
}

.message {
 margin-bottom:30px;
 padding-left:15px
}

.message p {
 padding-top:10px
}

.message ul {
 padding-left:30px
}

* {
 margin:0;
 padding:0
}

body {
 font-family:Poppins,sans-serif;
 font-size:18px;
 color:#b8b7bf
}

body, nav {
 background:#171b27
}

.text-secondary, .text-secondary a {
 color:#6888df
}

.text-tertiary, .text-tertiary a {
 color:#848ea8
}

.text-primary, .text-primary a {
 color:#c5c5c5
}

.color-primary {
 color:#6888df
}

.color-secondary {
 color:#9659c8
}

.wall svg text {
 font:700 5px sans-serif;
 font-family:Work Sans,sans-serif
}

#menu-open path {
 fill:#6888df
}

h1, h2, h3, h4, h5 {
 font-family:Work Sans,sans-serif
}
