@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-sans: Helvetica, sans-serif;
}

/* @layer base { */
/*   *, */
/*   ::after, */
/*   ::before, */
/*   ::backdrop, */
/*   ::file-selector-button { */
/*     border-color: var(--color-gray-200, currentcolor); */
/*   } */
/* } */

@layer base {
  h1 {
    @apply font-bold;
    @apply text-2xl;
  }

  h2 {
    @apply font-bold;
    @apply text-xl;
  }

  h3 {
    @apply font-bold;
    @apply text-lg;
  }
}
