<!DOCTYPE html>
<html lang="en">

    <head>
        {% if page.is_post %}
            <meta name="description" content="{{ page.excerpt | strip_html | truncate: 153 }}" />
        {% else %}
            <meta name="description" content="Programming, open source, linux, computer science." />
        {% endif %}
        <title>{{ page.title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/prism.css" />
        <link rel="stylesheet" type="text/css" href="/css/prism-rose-pine-main.css" />
        <link rel="icon" href="/img/favicon.webp">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XLT0PE92JK"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-XLT0PE92JK');
        </script>
    </head>

    <body>
        <div class="content-wrap">
            <div class="id" id="top" style="height: 60px;"> </div>

            <header>
                <div class="header-container">
                    <a class="logo" href="https://hisbaan.com">
                        <span>Hisbaan Noorani</span>
                    </a>

                    <nav class="site-nav">
                        <ul>
                            <li><a aria-current="page" title="hisbaan.com" class="site-nav-button" href="/">Home</a></li>
                            <li><a aria-current="page" title="Articles" class="site-nav-button active" href="/articles">Articles</a></li>
                        </ul>
                    </nav>

                    <div class="menu-toggle">
                        <div class="hamburger" />
                    </div>
                </div>
            </header>

            <div class="container">
                {{ content }}
            </div>

            <footer>
                <div class="footer-content">
                    <img class="footer-logo" src="/img/favicon.webp" />
                    <ul class="footer-links">
                        <li><a aria-current="page" title="hisbaan.com" class="site-nav-button" href="/">Home</a></li>
                        <li><a aria-current="page" title="Articles" class="site-nav-button" href="/articles">Articles</a></li>
                    </ul>
                    <ul class="socials">
                        <li><a href="https://github.com/hisbaan" class="fa fa-github fa-2x"></a></li>
                        <li><a href="https://twitter.com/hisbaannoorani" class="fa fa-twitter fa-2x"></a></li>
                        <li><a href="https://www.linkedin.com/in/hisbaan-noorani-252654203/"
                            class="fa fa-linkedin-square fa-2x"></a></li>
                        <li><a href="mailto:hisbaan@gmail.com" class="fa fa-envelope fa-2x"></a></li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <p>Have feedback? Let me know!</p>
                    <p>Support me on <a href="https://github.com/sponsors/hisbaan">GitHub Sponsors</a></p>
                    <p>Copyright &copy; Hisbaan Noorani 2022</p>
                    <p><a href="../disclaimer">Disclaimer</a></p>
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
        <script language="JavaScript" src='/js/hamburger.js'></script>
        <script language="JavaScript" src='/js/smooth-scroll.js'></script>
        <script language="JavaScript" src='/js/modal.js'></script>
        <script language="JavaScript" src='/js/prism.js'></script>
    </body>

</html>
