---
layout: default
title: Articles
---
<script>
function filter(tag) {
    document.getElementById('post-filter-text').innerHTML = "Filtering articles by <span style=\"color: var(--base09)\">#" + tag+"</span>";
    document.getElementById('post-filter').setAttribute('class', 'post-filter');
    document.getElementById('post-filter-text').setAttribute('class', '');
    document.getElementById('post-filter-button').setAttribute('class', 'clear-button');

    // Set all posts that do not have the tag to hidden
    var posts = document.getElementsByClassName('post');
    for (var i = 0; i < posts.length; i++) {
        // Get all the tags for a given post.
        // TODO find a better way to get this element
        var tags_container = posts[i].children[2].children[2];
        var tags = tags_container.children;
        console.log(tags)
        var tags_string = "";
        for (var j = 0; j < tags.length; j++) {
            tags_string += tags[j].textContent;
        }

        // If the post has the tag, show the post, otherwise hide it.
        if (tags_string.includes(tag)) {
            posts[i].setAttribute('class', 'post');
        } else {
            posts[i].setAttribute('class', 'post hidden');
        }
    }
}

function clear_filter() {
    document.getElementById('post-filter').setAttribute('class', 'post-filter hidden');
    document.getElementById('post-filter-text').setAttribute('class', 'hidden');
    document.getElementById('post-filter-button').setAttribute('class', 'clear-button hidden');
    var posts = document.getElementsByClassName('post');
    for (var i = 0; i < posts.length; i++) {
        posts[i].setAttribute('class', 'post');
    }
}
</script>

<h1 class="section-heading">Articles</h1>
<p>
    These are the articles I have written over the years. The main reason I write these is to help those who find themselves in similar situations as myself. Enjoy!
</p>
<br />

<div class="tag-title">
    Filter By:
</div>
<ul class="tags">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <li class="filter-tag" onclick="filter('{{ tag[0] }}')">
        #{{ tag[0] }}
    </li>
    {% endfor %}
</ul>

<div id="post-filter" class="post-filter hidden">
    <h2 id="post-filter-text" class="hidden"></h2>
    <button id="post-filter-button" onclick="clear_filter()" class="clear-button hidden">Clear Filter</button>
</div>

<ul class="posts">
    {% assign posts = site.posts %}
    {% for post in posts %}
    <li class="post" >
        <div class="post-title">
            <a href="{{ post.url | relative_url }}"> {{ post.title }} </a>
        </div>

        {{ post.excerpt | truncate: 153 }}
        <ul class="post-info">
            {% if post.author %}
            <li> <i class="fa fa-user"></i> {{ post.author }} </li>
            {% endif %}
            <li> <i class="fa fa-clock-o"></i> {{ post.date | date: "%d/%m/%y" }} </li>
            {% if post.tags %}
            <li class="tags-container"> {% for tag in post.tags %} <a onclick="filter('{{ tag }}')">#{{ tag }}</a> {% endfor %} </li>
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
