---
layout: default
---

{% if page.title %}
<h1 class="section-heading">{{page.title}}</h1>
{% else %}
<h1 class="section-heading">Untitled post</h1>
{% endif %}

<p>
    <ul class="article-byline">
        {% if page.author %}
        <li> <i class="fa fa-user" style="margin-right: 0.5em;"></i> {{ page.author }} </li>
        {% endif %}
        {% if page.date %}
        <li> <i class="fa fa-clock-o" style="margin-right: 0.5em;"></i> {{ page.date | date: "%d %b, %Y" }} </li>
        {% endif %}
    </ul>
</p>

{{ content }}
